<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emilevictor.wit"
    android:versionCode="3"
    android:versionName="1.03b" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.emilevictor.wit.InputWITClassActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.emilevictor.wit.FindRoomContentsActivity"
            android:label="@string/title_activity_find_room_contents" >
        </activity>
        <activity
            android:name="com.emilevictor.wit.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.emilevictor.wit.WhatIsThis"
            android:label="@string/title_activity_what_is_this" >
        </activity>
        <activity
            android:name="com.emilevictor.wit.WheresMyClass"
            android:label="@string/title_activity_wheres_my_class" >
        </activity>
    </application>

</manifest>